[Unit]
Description=fedbadges
After=network-online.target
Wants=network-online.target
After=synced-folder@fedbadges.service
After=synced-folder@fedora-badges.service
Requires=synced-folder@fedbadges.service
Requires=synced-folder@fedora-badges.service

[Service]
User=vagrant
Environment=GSS_USE_PROXY=yes
WorkingDirectory=/home/vagrant/fedbadges
ExecStart=/opt/venv/bin/fedora-messaging --conf /etc/fedora-messaging/fedbadges.toml consume

[Install]
WantedBy=multi-user.target
